[Desktop Entry]
Name=codium - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium --open-url %U
Icon=codium
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscodium;
Keywords=vscode;
