[Desktop Entry]
Type=Application
Name=idea
Icon=idea
Exec=idea %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea-ce
StartupNotify=true
