[Desktop Entry]
Version=1.5
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
TryExec=/home/x/software/tgdesktop/Telegram
Exec=/home/x/software/tgdesktop/Telegram -workdir /home/x/software/tgdesktop/tgdata/ -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=Quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action Quit]
Exec=/home/x/software/tgdesktop/Telegram -workdir /home/x/software/tgdesktop/tgdata/ -quit
Name=Quit Telegram
Icon=application-exit
