[Desktop Entry]
Name=codium
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium --no-sandbox --unity-launch %F
Icon=vscodium
Type=Application
StartupNotify=false
StartupWMClass=codium
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-codium-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=codium --no-sandbox --new-window %F
Icon=codium
