[Desktop Entry]
Name=codium
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/home/x/software/codium/bin/codium --no-sandbox --unity-launch %F
Icon=/home/x/software/codium/code-icon.svg
Type=Application
StartupNotify=false
StartupWMClass=codium
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-codium-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/home/x/software/codium/bin/codium --no-sandbox --new-window %F
Icon=/home/x/software/codium/code-icon.svg
